# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
unpackage
*.local

android/.gradle
android/build
android/app/build
android/local.properties
android/*.iml
android/.idea
android/app/libs/*.jar
android/app/libs/*.aar
android/app/libs/*.so
android/app/src/main/assets/apps/__UNI__WEIJI01/www/*
!android/app/src/main/assets/apps/__UNI__WEIJI01/www/.gitkeep

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?